*{
	margin:0;
	padding:0;
	font-family:century gothic;
}
div{
	background-image: url(../bg3.jpg);
	height:600px;
	width::300px;
	background-size:cover;
	background-position: center;
}
header{
	margin-left: 8%;
}

ul{
	list-style-type: none;
	margin-top: 20px;
}
ul li {
	display:inline-block;
}
ul li a{
	color: #0000cc;
}

ul a:hover{
	background-color: #3366ff;
	color: #fff;
}
.inline-margin{
	margin-right: 40px;
}
